@import "tailwindcss";

@font-face {
  font-family: 'HP001_5_hang_normal';
  src: url('/fonts/HP001_5_hang_normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HP001_5_hang_bold';
  src: url('/fonts/HP001_5_hang_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HP001_5_hang_1_o_ly';
  src: url('/fonts/HP001_5_hang_1_o_ly.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HP001_4_hang_normal';
  src: url('/fonts/HP001_4_hang_normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HP001_4_hang_bold';
  src: url('/fonts/HP001_4_hang_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HP001_4_hang_1_o_ly';
  src: url('/fonts/HP001_4_hang_1_o_ly.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HP001_4_hang_2_o_ly';
  src: url('/fonts/HP001_4_hang_2_o_ly.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HLHOCTRO';
  src: url('/fonts/HLHOCTRO.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html, body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  overscroll-behavior-x: none;
}
